<template id="carousel-container-template">
    <div class="carousel-container">
        <div class="slide">
            <!-- Carousel items will be dynamically inserted here -->
        </div>
        <div class="button">
            <button class="prev">◁</button>
            <button class="next">▷</button>
        </div>
    </div>
</template>

<template id="carousel-item-template">
    <div class="item">
        <div class="content">
            <div class="name"></div>
            <div class="des"></div>
            <a class="seeMore" target="_blank" href="#">
                <button>See More</button>
            </a>
        </div>
    </div>
</template>